[Unit]
Description=Start X11VNC at startup.
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/x11vnc -auth guess -forever -loop -noxdamage -repeat -rfbauth /etc/x11vnc/vncpwd -rfbport 5900 -shared
 
[Install]
WantedBy=multi-user.target